<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::div})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

</head>
<body>


	<div class="container">
		<section>
			<div class="card mt-3 p-4">
				<h1 class="text-center">InternSathi Assignment For
					Pre-Qualification Round for Java Internship in Kathmandu</h1>
			</div>

			
			<p class="card-text mt-5 p-2" style="font-size: 24px; color: #777;">As
				a Java intern, I would like to present my completed task, a simple
				MVC web application using Java, to demonstrate my understanding of
				core Java concepts and the MVC architecture. The application
				showcases my ability to create Model classes that represent data and
				business logic, View templates for the user interface, and
				Controller components to handle user input and update the Model and
				View accordingly. Additionally, I have incorporated my knowledge of web programming to enhance the application's functionality.
				I am excited to present this project as a testament to my skills and
				passion for web development using Java.</p>
		</section>
	</div>


</body>
</html>
