<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::Layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title>User Home</title>
</head>
<body>
	<div class="container">
		<div class="card mt-3">
			<div style="text-align: center;">

				<h1>User Dashboard</h1>
				<a href="/logout"
					style="display: inline-block; padding: 10px 20px; margin: 20px; background-color: #f00; color: #fff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">Logout</a>


				<a th:href="@{/user/profile}"
					style="display: inline-block; padding: 10px 20px; margin: 20px; background-color: blue; color: #fff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">Profile</a>



				<a th:href="@{/user/change-password}"
					style="display: inline-block; padding: 10px 20px; margin: 20px; background-color: green; color: #fff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">Change
					Password</a>


			</div>
		</div>

	</div>

</body>
</html>
